<p id="notice"><%= notice %></p>

<p>
  <strong>Mujer:</strong>
  <%= @humano.mujer %>
</p>

<p>
  <strong>Hombre:</strong>
  <%= @humano.hombre %>
</p>

<%= link_to 'Edit', edit_humano_path(@humano) %> |
<%= link_to 'Back', humanos_path %>
